
@{
    ViewData["Title"] = "ApiEmployees";
}

<h2>ApiEmployees</h2>

<button type="button" onclick="getEmployees()">Get Employees</button>

<input type="text" id="id" />

<br>

<table id="table">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>